{% extends 'base.html.twig' %}

{% block title %}Edit Heroe{% endblock %}

{% block body %}
    <h1>Edit Heroe</h1>

    {{ include('heroe/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_heroe_index') }}">back to list</a>

    {{ include('heroe/_delete_form.html.twig') }}
{% endblock %}
